* {
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;

}
.header {
    display: flex;
    height: 10vh;
    background-color: #6699FF;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    color: white;
}


.register {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-reg {
    font-size: 48px;
    /*font-weight: bold;*/
    color: black;
     -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: textIn;
}
@-webkit-keyframes textIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes textIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

