{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Algorithm</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body>
<div class="header">
    {% if user.is_authenticated %}
        {% if user.status == 'user' %}
            <div>User: {{ user.username }}</div>
        {% else %}
            <div><a style="color: white" href="admin/">Admin</a>: {{ user.username }}</div>
        {% endif %}
        <div><a style="color: white" href="{% url 'main:logout' %}">Logout</a></div>
    {% else %}
        <div>Authorization</div>
    {% endif %}
</div>
<div style="margin-top: 40px" class="container">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>